
/*MAIN*/
body { 
	font-size: 16px;
	line-height: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff6f6;
}
.section {
	margin: 80px auto 20px;
	max-width: 980px;
	position: relative;
	padding: 20px
}
.row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: none;
    padding: 3px;
}
.col{
    border: none;
    padding: 10px;
    text-align: left;
    display: inline-block;
}
.box-past{
    display:inline;
	margin-right: 10px;
	margin-left: 10px;
    border: none;
}
.card {
    box-shadow: 0 4px 8px 0 gray;
    transition: 0.3s;
	width: 30%;
	display: inline-block;
	margin:5px;
	background-color:#ffdfdf;
}

.card-container {
	padding: 10px;
	margin: 10px;
}
.header {
	background: #fb929e;
	width: 100%;
	height: 66px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #ffdfdf;
	z-index: 100;
}

#logo{
	margin: 10px;
	float: left;
	width: 200px;
	height: 40px;
	display: block;
	font-size:3em;
	display: flex;
	align-items:center;
	color: #fff6f6;
}

.nav {
	float: right;	
}

.nav-left{
    float: left;
}
a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #3c3c3c;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	float: left;
	padding: 10px
}

.current {
	color: white;
}